fastapi
uvicorn
pydantic
python-dotenv
langchain
langchain-groq
langchain-core
langchain-community
langchain-huggingface
sentence-transformers
pypdf
faiss-cpu
firebase-admin
requests
python-multipart
beautifulsoup4
pandas
gspread
oauth2client
langgraph
supabase
